body {
    font-family: sans-serif;
}

p#demo {
    width: 70%;
    border: 1px solid black;
    padding: 1em;
    border-radius: 40px;
    background-color: rebeccapurple;
    color: white;
}

#app{
    background-color: #024b02;
    color: white;
    width: max-content;
}